mixin photoList(data,one)
  ul
    each photo in data
      if photo.link != one.link
        li
          - const route = '/gallery/' + photo.id
          a(href=route)
            img(src=photo.link)



mixin sideBar(all,one)
  ul
    each photo in all
      if photo.link != one.link
        li
          - const route = '/gallery/' + photo.id
          a(href=route)
            img(src=photo.link)
            p #{photo.title}