mixin photoList(data,one)
  ul
    each photo in data
      if photo.link != one.link
        li
          - const route = '/gallery/' + photo.id
          a(href=route)
            img(src=photo.link)



mixin sideBar(all,one)
  ul
    - for(var i = 0; i < 3; i++) {
      if all[i].link != one.link
        li
          a(href='/gallery/' + all[i].id)
            img(src=all[i].link)
            p #{all[i].title}
      else
        li
          a(href='/gallery/' + all[all.length-1].id)
            img(src=all[all.length-1].link)
            p #{all[all.length-1].title}
    -}

mixin sideNav(photo,userUserId)
  #mySidenav.sidenav
    if photo != 0 && photo.userId == userUserId
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      a(href='/') Home
      a(href='/gallery/new') New
      a(href='/gallery/' + photo.id + '/edit') Edit
      a(href='/gallery/' + photo.id + '/delete') Delete
      a(href='/logout') Logout
    else
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      a(href='/') Home
      a(href='/gallery/new') New
      a(href='/logout') Logout
  #menu
    #menuBox(style="font-size:30px;cursor:pointer" onclick="openNav()")
      span
      span
      span
  script.
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }