mixin photoList(data,one)
  ul
    each photo in data
      if photo.link != one.link
        li
          - const route = '/gallery/' + photo.id
          a(href=route)
            img(src=photo.link)



mixin sideBar(all,one)
  ul
    each photo in all
      if photo.link != one.link
        li
          - const route = '/gallery/' + photo.id
          a(href=route)
            img(src=photo.link)
            p #{photo.title}

mixin sideNav()
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
    a(href='/') Home
    a(href='/gallery/new') New
    a(href='/logout') Logout
  #menu
    #menuBox(style="font-size:30px;cursor:pointer" onclick="openNav()")
      span
      span
      span
  script.
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }