extends ../layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  div#picture
    div#pic
      p.details #{one.title} by #{one.author}
      img(src=one.link)
      p.details#description #{one.description}
    if one.userId == user
      div#editButton
        - const route = '/gallery/' + one.id + '/edit'
        a#editLink(href=route) Edit
      div#deleteButton
        - const deleteRoute = '/gallery/' + one.id + '/delete'
        a#editLink(href=deleteRoute) Delete
  div#sideBar
    +sideBar(all,one)
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
    a(href='#') About
    a(href='#') Services
    a(href='#') Clients
    a(href='#') Contact
  div#main
    span(style="font-size:30px;cursor:pointer" onclick="openNav()") open
  script.
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    }



