extends ../layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  +sideNav()
  div#picture
    div#pic
      p.details #{one.title} by #{one.author}
      img(src=one.link)
      p.details#description #{one.description}
    if one.userId == user
      div#editButton
        - const route = '/gallery/' + one.id + '/edit'
        a#editLink(href=route) Edit
      div#deleteButton
        - const deleteRoute = '/gallery/' + one.id + '/delete'
        a#editLink(href=deleteRoute) Delete
  div#sideBar
    +sideBar(all,one)




