extends ./layout.pug
include ./mixins.pug

block title
  title Homepage

block body
  div#picture
    div#pic
      p.details #{one.title} by #{one.author}
      img(src=one.link)
      p.details#description #{one.description}
    div#editButton
      - const route = '/gallery/' + one.id + '/edit'
      a#editLink(href=route) Edit
  div#sideBar
    +sideBar(all,one)
